<div class="container-fluid">
  <!-- DATOS EMPRESA  -->
  <div class="row my-5">
    <h1>Bienvenido, Tus datos son:</h1>
    <div class="col-12 text-center">
      <form
        [formGroup]="profileForm"
        (ngSubmit)="handleRefreshProfile()"
        action=""
      >
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            >Nombre de la empresa</span
          >
          <input formControlName="title" type="text" class="form-control" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            >Descripcion de la empresa</span
          >
          <input
            formControlName="description"
            type="text"
            class="form-control"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Dirección</span>
          <input formControlName="location" type="text" class="form-control" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Telefono</span>
          <input formControlName="phone" type="number" class="form-control" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Whatsapp LINQ</span>
          <input
            formControlName="whatsapp"
            type="number"
            class="form-control"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Imagen</span>
          <input formControlName="urlImg" type="file" class="form-control" />
        </div>
        <button class="btn btn-primary" type="submit">Actualizar Datos</button>
      </form>
    </div>
  </div>

  <hr />

  <!-- CARGAR PROPIEDAD -->
  <div class="row my-5">
    <div class="col-sm-12 col-md-6">
      <h1>Gestion de propiedades</h1>
      <form action="">
        <!-- Titulo -->
        <div class="input-group mb-3 w-100">
          <span class="input-group-text" id="basic-addon1">Título</span>
          <input type="text" class="form-control" />
        </div>
        <!-- Descripcion -->
        <div class="input-group mb-3 w-100">
          <span class="input-group-text" id="basic-addon1">Descripcion</span>
          <input type="text" class="form-control" />
        </div>
        <!-- Direccion -->
        <div class="input-group mb-3 w-100">
          <span class="input-group-text" id="basic-addon1">Direccion</span>
          <input type="text" class="form-control" />
        </div>
        <!-- Precio -->
        <div class="input-group mb-3 w-100">
          <span class="input-group-text" id="basic-addon1">Precio</span>
          <input type="text" class="form-control" />
        </div>
        <!-- Habitaciones -->
        <div class="input-group mb-3 w-100">
          <span class="input-group-text" id="basic-addon1">Habitaciones</span>
          <input type="text" class="form-control" />
        </div>
        <!-- Dormitorios -->
        <div class="input-group mb-3 w-100">
          <span class="input-group-text" id="basic-addon1">Dormitorios</span>
          <input type="text" class="form-control" />
        </div>
        <!-- Cocheras -->
        <div class="input-group mb-3 w-100">
          <span class="input-group-text" id="basic-addon1">Cocheras</span>
          <input type="text" class="form-control" />
        </div>
        <!-- Tiene Patio -->
        <div class="input-group mb-3 w-100">
          <span class="input-group-text" id="basic-addon1">Patio</span>
          <input type="text" class="form-control" />
        </div>
        <!-- Tiene Pileta -->
        <div class="input-group mb-3 w-100">
          <span class="input-group-text" id="basic-addon1">Pileta</span>
          <input type="text" class="form-control" />
        </div>
        <!-- Acepta Mascotas -->
        <div class="input-group mb-3 w-100">
          <span class="input-group-text" id="basic-addon1"
            >Acepta Mascotas</span
          >
          <input type="text" class="form-control" />
        </div>

        <button class="btn btn-success w-100">Cargar</button>
      </form>
    </div>

    <!-- VER PROPIEDADES -->

    <div class="col-sm-12 col-md-6">
      <h1>Mis propiedades</h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Location</th>
              <th scope="col">Habitaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry the Bird</td>
              <td>Larry the Bird</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
