<div class="container-fluid">
  <div class="row my-5">
    <div class="col-sm-12 col-md-6 mx-auto">
      <h1>Bienvenido</h1>
      <form [formGroup]="loginForm" action="" (ngSubmit)="handleLogin()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Email</span>
          <input formControlName="email" type="email" class="form-control" />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Contraseña</span>
          <input
            formControlName="password"
            type="password"
            class="form-control"
          />
        </div>
        <a class="link-primary mt-2" (click)="resetPassword()">
          Recuperar Contraseña
        </a>
        <br />
        <br />
        <button type="button" routerLink="/register" class="btn btn-primary">
          Registrarse
        </button>
        <button type="submit" class="btn btn-success mx-1">Ingresar</button>
      </form>
    </div>
  </div>
</div>
