.mainImg {
  background-color: rgba(0, 0, 0, 0.8);
  height: 350px;
  background-image: url(https://cdn.pixabay.com/photo/2014/05/03/01/04/city-336708_960_720.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  filter: brightness(0.4);
}
